# Ignore Mac system file
.DS_store

# VisualStudioCode
.vscode

# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore heavy hdf files
*.h5
*.png
*.txt